.parent>div {
  text-align: center;
  align-content: center;
}
.main{
  margin: 0px 100px;
}
.main1{
  background-color: #FFF8E8;
}
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  row-gap: 1rem;
  padding: 10px;
}
.child1 {
  grid-column: 1/4;
  grid-row: 1/3;
}

.child2 {
  grid-column: 4/6;
  grid-row: 1;
  background-color: #ffea00;

}

.child3 {
  grid-column: 4/6;
  grid-row: 2;
  background-color: #ffea00;
}
.flex1{
  margin-top: 10px;
  display: flex;
  column-gap: 10px;
  padding: 10px;
}
.flex1>div{
  background-color: #ffea00;
  padding: 3px 73.5px;

}
.main2{
  margin-top: 50px;
  background-color: #FFF8E8;
  padding: 10px; 
}
.parent1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  text-align: center;
}
.a{
  grid-row: 1;
  grid-column: 1;
}
.b{
  grid-column: 2;
}
.c{
  grid-column: 3;
}
.d{
  grid-column: 4;
}
.e{
  grid-column: 1/3;
  grid-row: 2;
}
.f{
  text-align: start;
}
.ff{
  grid-column: 2/5;
  grid-row: 2;
  margin-top: 200px;
}
.main3{
  margin-top: 50px;
  background-color: #FFF8E8;
}
.parent2 > div img{
  width: 190px;
  height: 150px;
}
.parent2{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  row-gap: 0px;
  padding: 30px;
  margin-top: 30px;
}